include LICENSE
include README.rst
include CONTRIBUTING.md
include CHANGES.rst

recursive-include embed_video/templates *.html

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .coverage
